/* DESKTOP*/

@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis|Orbitron&display=swap');

/* CAROUSEL */

section:nth-of-type(1){
    margin-top: 100px;
}

div#slider { 
    width: 100%; 
    max-width: 1000px;
    margin: auto;
  } 

div#slider figure {
    position: relative; 
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
  }

div#slider figure img { 
    width: 20%;
    min-height: 50%; 
    float: left; 
  }

div#slider { 
    width: 80%; 
    max-width: 1000px;
    overflow: hidden 
  }

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
  }

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 18s slidy infinite;
  }

/* CITATIONS */

.citations {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 77%;
    margin: auto;
}

blockquote {
    margin: 0;
    width: 70%;
    margin: 20px 0 20px 0;  
    background: #e6e6e6;
    border-left: 6px solid 	#666666;
}

.citation2 {
    align-self: flex-end;
}

blockquote p {
    font-family: "Dosis", cursive;
    font-size: 18px;
    padding: 20px 10px 0 50px;
    /*border-radius: 5px;*/
    margin-bottom: 10px;
    position: relative;
    border: 10px 0 0 20px;
    font-style: italic;
}

blockquote footer {
    padding: 0 10px 15px 50px;
    font-size: 18px;
    font-family: "Dosis", cursive;
}

blockquote p::before {
    font-family:Arial;
    content: "\201C";
    color: #666666;
    font-size:4em;
    position: absolute;
    left: 10px;
    top: 10px;
}

blockquote p::after {
    /*content: '\201D';*/
    content: "";
}

/* MOBILE */

@media screen and (max-width: 961px) {
    .citations {
        align-items: center;
        width: 100%;
    }

    .citation2 {
        align-self: center;
    }

    blockquote {
        width: 80%;
    }

    section:nth-of-type(1) {
        margin-top: 50px;
    }

}
