label{
    margin-right: 22px;
}

.message{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

input[type="text"].field-name{
    border:none;
    border-bottom: dotted 2px #c9c9c9;
    width: 300px;
    margin:10px;
   }

   .field-message{
       float:left;
   }