body {
    min-width: 316px;
}

nav a[href="contact.html"]{
    background-color: #000;
    color: #fff;
}
nav a[href="index.html"]{
    background-color: #fff;
    color: #000;
  }

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px 40px 30px
    
}

.form-daddy {
    display: flex;
    width: 100%;
    justify-content: center;
    /* background-image: url(https://images.unsplash.com/photo-1583862595688-e8195e4f1446?ixlib=rb-1.2.1&auto=format&fit=crop&w=582&q=80); */
    background-size: 110%;
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-top: -10px;
}


.bg-frame {
    margin-top: 115px;
border-radius: 2%;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    background-color: rgba(255, 255, 255, 255);;
    width: 50%;
}



input::placeholder {
    letter-spacing: 2px;
}

input .form-content {
    height: 20px;
}

textarea::placeholder{
    letter-spacing: 2px;
}

.button {
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
    background:#BEBEBE;
    padding: 20px;
    border-radius: 3px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-top: 30px;


    }

    .button:hover {
        color: white;
        background: black;
        letter-spacing: 3px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.4s ease 0s;
        transform: scale(1.2);
        }

.span-frame {
    display: flex;
    justify-content: center;
    background-color:#fff;
    width: 70%;
    margin: 0 auto;
    

}
.intro {
    margin-top: 40px;
    margin-bottom: -20px;
    text-align: center;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 4px;
   
}

.span-contact {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 4px;
    font-size: 60px;
    text-align: center;
    margin: 5px;
    
}

.form-content::placeholder {
    height: 30px;

}


.form-content {
    margin-bottom: 15px;
    width: 100%;
	border-radius: 0;
	border-color: #ccc;
   	border-width: 0 0 2px 0;
   	border-style: none none solid none;
   	box-shadow: none;
}
.form-content:focus {
	box-shadow: none;
    border-color: black;
}
*/

.form-label {

        font-size: 12px;
        color: black;
        margin: 0;
        display: block;
        opacity: 1;
        -webkit-transition: .333s ease top, .333s ease opacity;
        transition: .333s ease top, .333s ease opacity;
}

textarea {
    resize: none;
    border-style: none none solid none;
    outline: 0;
    
}

input {
  outline: 0;
}

@media screen and (max-width: 1000px) {
    .bg-frame {
        width: 95%;
        margin-top: 20px;
    }
    .form-daddy{
        margin-bottom: 0px;
        padding-bottom: 20px;
    }

    .testimonies {
        display: none;
    }

}

@media screen and (max-width: 360px){
    .span-contact {
        font-size: 30px;
        text-align: center;
    }
    
    .intro {
        display: none;
    }
   
}

@media screen and (max-width: 516px){
    .span-contact {line-height: 30px;
                    padding: 20px;
    }
    .formulaire { 
        padding-top: 20px;
    }
    .intro {
        display: none;
    }
}
section img {
    box-shadow:4px 4px 6px #888;
    width: 60%;
}
  
section {
    margin-top: 20px;
    text-align: center;
}

textarea {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-size: 10px;
}

input {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-size: 10px;
}
