/* Gallery */


/* Desktop */

@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

nav a[href="gallery.html"]{
    background-color: #000;
    color: #fff;
}
nav a[href="index.html"]{
    background-color: #fff;
    color: #000;
  }

h1 {
    text-align: center;
    display: none;
}

.gallery {
    padding-top: 87px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    position: relative;
}

.gallery img {
    width: 95%;
    height: 100%;
    margin: 10px 0px 10px 0px;
}

.gallery a {
    width: 95%;
    height: 100%;
    margin: 10px 0px 10px 0px;
}

.gallery a img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.gallery p {
    display: none;
    width: 85%;
    margin: 4px 10px 0px 10px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 47%;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    border-radius: 5px;
    font-family: "Orbitron", cursive;
}

.gallery img:hover {
    cursor: url(../images/Gallery/goatlogo4_mini-carre.jpg), auto;
    transform: scale(1.1);
    opacity: 0.5;
    transition-duration: 1s;
}

.gallery div:hover p {
    display: inline;
    cursor: pointer;
    transition-duration: 1s;
}

.gallery div p:hover {
    cursor: url(../images/Gallery/goatlogo4_mini-carre.jpg), auto;
}

/* Mobile */
@media (max-width: 961px) {
    .gallery {
        margin-top: -107px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .gallery div {
        width: 90%;
    }

    .gallery img {
        width: 80%;
    }

    .gallery a {
        display: flex;
        justify-content: center;
    }

    .gallery a img {
        width: 84%;
    }

    .gallery p {
        width: 70%;
        margin: 6px 10px 20px 10px;

    }

}