@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
<<<<<<< HEAD

.container {
    width: 90%;
    margin: auto;
=======
.container{
  width: 90%;
  margin: auto;
>>>>>>> 1446dd3c22f9bb7757c8022b17e0beea596734c2
}

nav {
    margin: 50px auto;
    max-width: 700px;
    width: 95%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
}

.menu {
    padding: 0;
    margin: 0;
    max-width: 700px;
    height: 50px;
    border-radius: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-top: 15%;
}

.menu li a {
    display: block;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}

<<<<<<< HEAD
li a:hover {
    background-color: #111;
    color: white;
}
=======
nav li a:hover {
  background-color: #111;
  color: white;
  }
>>>>>>> 1446dd3c22f9bb7757c8022b17e0beea596734c2

.Logo {
    width: 20%;
    padding-top: 5%;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logoOne {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 550px) {
<<<<<<< HEAD
    .Logo {
        width: 30%;
        justify-content: center;
    }
    .menu {
        flex-direction: column;
    }
    .menu li a {
        font-size: 16px
    }
    nav {
        margin: 50px auto;
        max-width: 550px;
        width: 95%;
        background-color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
    }
    li a:hover {
        background-color: #111;
        color: white;
        padding: 20px 400px;
    }
}


/*Footer*/

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: black;
    opacity: 0.2;
    transition: 0.8s;
    text-decoration: none;
}

.footer_box_two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
}

.facebook_logo {
    margin-right: 5px;
}

.twitter_logo {
    margin-right: 5px;
}

.instagram_logo {
    margin-right: 5px;
}

.pinterest_logo {
    margin-right: 5px;
=======
  
  .Logo{
    width: 30%;
    justify-content: center;
  }
}

/* CAROUSEL */



div#slider { 
    width: 100%; 
    max-width: 1000px;
    margin: auto;
  } 

div#slider figure {
    position: relative; 
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
  }

div#slider figure img { 
    width: 20%;
    height: 500px;
    min-height: 50%; 
    float: left; 
  }

div#slider { 
    width: 80%; 
    max-width: 1000px;
    overflow: hidden 
  }
#slider{
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
  }

div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    left: 0;
    text-align: left;
    animation: 18s slidy infinite;
  }

/*Footer*/
.footer_box_two
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.facebook_logo
{
  margin-right: 70px;
}

.twitter_logo
{
  margin-right: 70px;
}
.instagram_logo
{
  margin-right: 70px;
}
.pinterest_logo
{
  margin-right: 70px;
}
.linkdin_logo
{
  margin-right: 70px;
>>>>>>> 1446dd3c22f9bb7757c8022b17e0beea596734c2
}

.linkedin_logo {
    margin-right: 5px;
}

<<<<<<< HEAD
img {
    filter: grayscale(100%);
    /* English : Replace with a property that makes the image look black & white. */
    -webkit-filter: grayscale(100%);
    /* Français : Remplace par une propriété faisant paraître l'image en noir et blanc. */
=======
footer img
{
    filter: grayscale(100%); 
    -webkit-filter: grayscale(100%); 
>>>>>>> 1446dd3c22f9bb7757c8022b17e0beea596734c2
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

<<<<<<< HEAD
img:hover {
    filter: grayscale(0%);
    /* English : Replace with a property that makes the image look black & white. */
    -webkit-filter: grayscale(0%);
    /* Français : Remplace par une propriété faisant paraître l'image en noir et blanc. */
=======
footer img:hover
{
    filter: grayscale(0%); 
    -webkit-filter: grayscale(0%); 
>>>>>>> 1446dd3c22f9bb7757c8022b17e0beea596734c2
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

<<<<<<< HEAD
.copyright_background {
    background-color: black;
    color: white;
    font-size: 0.8em;
    text-align: center;
    margin-top: 60px;
}

.footer_bis {
    display: flex;
    display-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
}

.website_title {
    width: 100px;
    height: 100px;
    text-align: center;
    padding-top: 100px;
    padding-left: 0px;
}

.about_us_box {
    width: 100px;
    height: 100px;
    text-align: center;
    padding-bottom: 0px;
}

.meet_us_box {
    width: 100px;
    height: 100px;
    text-align: center;
}

.slogan {
    text-align: center;
    margin-top: 130px;
}
=======
.website_logo
{
  text-align: center;
}

.solgan
{
  text-align: center;
  margin-top: 0px;
  font-size: 1em;
}
.slogan_1 a
{
  text-align: center;
  color: black;
  text-decoration: none;
}

.solgan_1 a:hover
{
  text-align: center;
  color: black;
  opacity: 0.2;
  transition: 0.8s;
  text-decoration: none;
}


.copyright_background
{
  background-color: black;
  color: white;
  font-size: 0.8em;
  text-align: center; 
}

.slogan
{
  text-align: center;
  margin-top: 130px;
}

nav a[href="index.html"]{
  background-color: #000;
  color: #fff;
}
>>>>>>> 1446dd3c22f9bb7757c8022b17e0beea596734c2
