* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  margin: auto;
}

nav {
  margin: 50px auto;
  max-width: 700px;
  width: 95%;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.menu {
  padding: 0;
  margin: 0;
  max-width: 700px;
  height: 50px;
  border-radius: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.menu li a {
  display: block;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
  }

.Logo{
width: 10%;
}
.bot-menu

@media screen and (max-width: 550px) {
  
  .top-menu
{
  display: none;

}
  
.Logo{
  width: 10%;
  justify-content: center;
}

/*Footer*/
footer a
{
  color: black;
  text-decoration: none;
}

footer a:hover
{
  color: black;
  opacity: 0.2;
  transition: 0.8s;
  text-decoration: none;
}

.footer_box_two
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.facebook_logo
{
  margin-right: 5px;
}

.twitter_logo
{
  margin-right: 5px;
}

.instagram_logo
{
  margin-right: 5px;
}

.pinterest_logo
{
  margin-right: 5px;
}

.linkedin_logo
{
  margin-right: 5px;
}


img
{
    filter: grayscale(100%); /* English : Replace with a property that makes the image look black & white. */
    -webkit-filter: grayscale(100%); /* Français : Remplace par une propriété faisant paraître l'image en noir et blanc. */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

img:hover
{
    filter: grayscale(0%); /* English : Replace with a property that makes the image look black & white. */
    -webkit-filter: grayscale(0%); /* Français : Remplace par une propriété faisant paraître l'image en noir et blanc. */
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

.copyright_background
{
  background-color: black;
  color: white;
  font-size: 0.8em;
  text-align: center;
  margin-top: 60px; 
}



.footer_bis
{
  display: flex;
  display-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
}

.website_title
{
  width: 100px;
  height: 100px;
  text-align: center;
  padding-top: 100px;
  padding-left: 0px;
}

.about_us_box
{
  width: 100px;
  height: 100px;
  text-align: center;
  padding-bottom: 0px;
}

.meet_us_box
{
  width: 100px;
  height: 100px;
  text-align: center;
}

.slogan
{
  text-align: center;
  margin-top: 130px;
}